In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
SURVEY_RESULT_PUBLIC = "https://raw.githubusercontent.com/Deena-Gergis/e2e_ds_project/batch_2/data/raw/survey_results_public.csv"

In [3]:
df = pd.read_csv(SURVEY_RESULT_PUBLIC)
df.head(1)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0

In [4]:
df.shape

(83439, 48)

In [5]:
df.sample(1).iloc[0]

ResponseId                                                                  24809
MainBranch                                         I am a developer by profession
Employment                                                     Employed full-time
Country                                                                   Germany
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                              Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)
Age1stCode                                                          11 - 17 years
LearnCode                       Other online resources (ex: videos, blogs, etc...
YearsCode                                                                      18
YearsCodePro                                                                    4
DevType                         Developer, front-end;Developer, full-stack;Dev...
OrgSize                                                      100 to 499 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4735.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith           C;C#;C++;HTML/CSS;JavaScript;Rust;SQL;TypeScript
LanguageWantToWorkWith                  C;C++;HTML/CSS;JavaScript;Rust;TypeScript
DatabaseHaveWorkedWith                                  MariaDB;PostgreSQL;SQLite
DatabaseWantToWorkWith                                          PostgreSQL;SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                      Flask;Gatsby;React.js
WebframeWantToWorkWith                                      Flask;Gatsby;React.js
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       Git
ToolsTechWantToWorkWith                                                       Git
NEWCollabToolsHaveWorkedWith                     Notepad++;Vim;Visual Studio Code
NEWCollabToolsWantToWorkWith                     Notepad++;Vim;Visual Studio Code
OpSys                                                                 Linux-based
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                          Stack Overflow;Stack Exchange
SOVisitFreq                                                  A few times per week
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                              Yes, somewhat
NEWOtherComms                                                                 Yes
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       61416.0
Name: 24808, dtype: object

Raw data dataTypes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

Describe Raw Data

In [7]:
df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

Why these columns have datatype "Object"?

In [8]:
questionable_cols = ['YearsCodePro', 'YearsCode']
for col in questionable_cols: 
    print(col)
    print(df[col].unique().tolist())
    print('--------------------------')
    print()

YearsCodePro
[nan, '10', '4', '5', '6', '2', '30', '9', '18', '12', '21', '1', '16', 'Less than 1 year', '15', '3', '35', '7', '8', '17', '14', '26', '25', '20', '50', '34', '11', '24', '22', '13', '31', '23', '39', '41', '27', '28', '19', '33', 'More than 50 years', '37', '29', '32', '43', '40', '38', '45', '42', '46', '36', '44', '47', '48', '49']
--------------------------

YearsCode
[nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9', '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22', '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38', 'More than 50 years', '27', '41', '42', '35', '23', '28', '11', '37', '44', '43', '36', '33', '45', '29', '50', '46', '32', '47', '49', '48']
--------------------------

Number of unique values in each column

In [9]:
df.nunique()

ResponseId                      83439
MainBranch                          6
Employment                          9
Country                           181
US_State                           55
UK_Country                          4
EdLevel                             9
Age1stCode                          9
LearnCode                         458
YearsCode                          52
YearsCodePro                       52
DevType                          8626
OrgSize                            10
Currency                          146
CompTotal                        3752
CompFreq                            3
LanguageHaveWorkedWith          28690
LanguageWantToWorkWith          27545
DatabaseHaveWorkedWith           3072
DatabaseWantToWorkWith           3137
PlatformHaveWorkedWith            118
PlatformWantToWorkWith            126
WebframeHaveWorkedWith           5402
WebframeWantToWorkWith           5113
MiscTechHaveWorkedWith           1387
MiscTechWantToWorkWith           1684
ToolsTechHaveWorkedWith           902
ToolsTechWantToWorkWith          1403
NEWCollabToolsHaveWorkedWith    12100
NEWCollabToolsWantToWorkWith     7026
OpSys                               6
NEWStuck                         1279
NEWSOSites                          8
SOVisitFreq                         5
SOAccount                           3
SOPartFreq                          6
SOComm                              6
NEWOtherComms                       2
Age                                 8
Gender                             16
Trans                               4
Sexuality                          30
Ethnicity                         372
Accessibility                      31
MentalHealth                       33
SurveyLength                        3
SurveyEase                          3
ConvertedCompYearly              8735
dtype: int64

Percentage of null values in each column

In [10]:
for col in df.columns: 
    print(f"{col}:\t{df[col].isnull().mean() * 100:.2f}%")

ResponseId:	0.00%
MainBranch:	0.00%
Employment:	0.14%
Country:	0.00%
US_State:	82.12%
UK_Country:	94.71%
EdLevel:	0.38%
Age1stCode:	0.23%
LearnCode:	0.57%
YearsCode:	2.15%
YearsCodePro:	26.63%
DevType:	20.32%
OrgSize:	27.22%
Currency:	26.80%
CompTotal:	43.45%
CompFreq:	37.50%
LanguageHaveWorkedWith:	1.30%
LanguageWantToWorkWith:	7.93%
DatabaseHaveWorkedWith:	16.65%
DatabaseWantToWorkWith:	30.13%
PlatformHaveWorkedWith:	37.52%
PlatformWantToWorkWith:	50.12%
WebframeHaveWorkedWith:	26.05%
WebframeWantToWorkWith:	37.57%
MiscTechHaveWorkedWith:	43.61%
MiscTechWantToWorkWith:	54.43%
ToolsTechHaveWorkedWith:	13.07%
ToolsTechWantToWorkWith:	21.52%
NEWCollabToolsHaveWorkedWith:	2.64%
NEWCollabToolsWantToWorkWith:	12.48%
OpSys:	0.17%
NEWStuck:	0.46%
NEWSOSites:	0.32%
SOVisitFreq:	1.23%
SOAccount:	1.10%
SOPartFreq:	19.04%
SOComm:	1.34%
NEWOtherComms:	0.73%
Age:	1.24%
Gender:	1.38%
Trans:	3.31%
Sexuality:	12.07%
Ethnicity:	4.76%
Accessibility:	6.99%
MentalHealth:	7.81%
SurveyLength:	2.07%
SurveyEase:	1.79%
ConvertedCompYearly:	43.86%

In [11]:
df["Gender"].value_counts()

Man                                                                                   74817
Woman                                                                                  4120
Prefer not to say                                                                      1442
Non-binary, genderqueer, or gender non-conforming                                       690
Or, in your own words:                                                                  413
Man;Or, in your own words:                                                              268
Man;Non-binary, genderqueer, or gender non-conforming                                   252
Woman;Non-binary, genderqueer, or gender non-conforming                                 147
Man;Woman                                                                                41
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                 21
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              21
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       17
Woman;Or, in your own words:                                                             16
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:             11
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            9
Man;Woman;Or, in your own words:                                                          1
Name: Gender, dtype: int64